body {
    background-image: url("imagenes/cosa.jpg");
    background-position: left;
    background-repeat: repeat-y;
    
    }
textarea {
	resize: vertical;
}

#main-jumbo {
	background-color: rgb(237,255,033);
}